<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for StyleCop.Analyzers" Description="Code analysis rules for StyleCop.Analyzers.csproj." ToolsVersion="14.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1402" Action="None" />
    <Rule Id="SA1649" Action="None" />
    <Rule Id="SA1513" Action="None" />
    <Rule Id="SA1128" Action="None" />
    <Rule Id="SA1502" Action="None" />
    <Rule Id="SA1111" Action="None" />
    <Rule Id="SA1401" Action="None" />
    <Rule Id="SA1307" Action="None" />
  </Rules>
</RuleSet>